@model IEnumerable<EDLaboratorio4.Models.Calcomania>

@{
    ViewBag.Title = "Estado Calcomanias";
}

<h2>Estado Calcomanias</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Numero })
        </td>
    </tr>
}
</table>
